/*-----------Navigation Bar ----------*/

nav {
    background-color: #162b6f;
    height: 90px;
    color: white;
    width: 100%;
    margin: 0px;
    padding-top: 6px;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 70px;
    padding: 0 100px;
    font-weight: bold;

}

nav ul {
    float: right;
    margin-right: 30px;
    padding: 0 100px;
}

nav ul li {
    padding-top: 2px;
    display: inline-block;
    line-height: 65px;
    margin: 0px 10px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
}

nav ul li a:hover {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
    text-decoration: underline;
}